<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="index" href="./index.html" />
  <title><%=h mail[:subject] %> (<%= mail[:date].to_s %>)</title>
  <style>
    pre {word-wrap: break-word;}
    .part {border: solid 1px #666; background:white; padding:2em; max-width: 800px}
  </style>
</head>

<body style="background:#eee">
  <h1 id="subject"><%=h mail[:subject] %></h1>
  <h2><%= mail[:date].to_s %></h2>

  <h3>headers</h3>
  <pre><%= mail[:headers].map{|n,v| "#{n}: #{v}" }.join("\n") %></pre>

  <h3>body</h3>
  <% mail[:parts].each do |part| %>
    <%= part.content_type %>
    <div class="part">
      <% if part.content_type.start_with? 'text/plain' %>
        <pre><%= part.body.decoded.force_encoding('UTF-8') %></pre>
      <% else %>
        <%= part.body.decoded.force_encoding('UTF-8') %>
      <% end %>
    </div>
  <% end %>

</body>
</html>
